
body {
    margin: 0;
    padding: 0;
    height: 100vh;  /* full height of viewport */
    width: 100vw; 
    background-color: #F9F6EE;
    font-family: "Comic Sans MS";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

header, main{
    padding-bottom: 15px;
    display: flex;
}

header{
    justify-content: end;
    padding-top: 15px;
    padding-right: 15px;
    
}

main{
    display: flex;
    justify-content: center;
}

.logo{
    height: 27px;
    width: 140px;
}

.icon-img{
    width: 20px;
    height: 20px;
}

.image-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 15px 25px;    
    margin-bottom: 15px;
}


.menu-bar-container{
    height: 633px;
    border: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));
   
}

.menu-bar-container{
    width: 241px;
    border-radius: 24px 0px 0px 24px;
    background: #FFF;
}

.tabs-container{
    /* padding: 0px 5px 0px 5px;*/
    border-top: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));;
    border-right: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));;
    height: 34px;
    width: 1099px;
    border-top-right-radius: 24px;
    border-bottom: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));
    background-color: #F9F8F8;
    border-top-right-radius: 24px;
    
}

li{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    border-right: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));
    border-top-right-radius: 10px;
    padding: 0px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 1)
    ;
    
}

ul{
    padding: 0;
    border: none;
    display: flex;
    height: 100%;
    margin: 0;  
    margin-bottom: 10px;
}



.dash-board-container{
    display: flex;
    width: 1099px;
    height: 598px;
    background-color: #F9F8F8;
    border-bottom: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));;
    border-right: 1px solid var(--minimalist, rgba(0, 0, 0, 0.05));;
    border-bottom-right-radius: 24px;

}

.main-dashboard{
    display: flex;
    flex-direction: column;
}

.tab-menu-container{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-tab{
    border: none;
    font-family: "Comic Sans MS";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

form, input, textarea, select, button {
    all: unset;
    box-sizing: border-box;
  }
  